@use '../utilities/variables' as *;
@use '../utilities/extends' as *;
@use '../utilities/functions' as f;
@use '../utilities/mixins' as mix;
@use 'sass:math';

/**************************
      CONTAINERS
**************************/
#ori-home-bg,
#port-contacts-bars-bg,
#arrow-svg,
#nav-svg,
#glitter-about,
#about-svg {
  width: 1px;
  height: 1px;
  margin-top: -10px;
}

#nav-main,
.nav-ul,
.main-nav,
.info-head,
.made-with,
.created-with {
  @extend %marg-zero;
}

#contact-me-form,
.proj-viewport {
  @extend %marg-cen;
}

#grid-container,
#overlay {
  background: $black;
}

#overlay,
#logo-animation {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 10;
}

#logo-animation {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  margin: 10dvh 25dvw;
  z-index: 15;
}

#portfolio-bg,
#contact-bg,
#submit,
.ball-tool-tip {
  display: block;
}

@include mix.mqDesk('tablet-portrait') {
  #contact-bg {
    width: 353px;
    height: 269px;
  }
}

.hamburger,
#arrow-right,
#arrow-left,
.balls,
.static,
.interactive,
.logo {
  cursor: pointer;
}

#grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  place-content: center;
  grid-template-areas: 'header' 'main' 'footer';
  margin-top: f.em(-96px);
}

/********************
     HEADER
********************/
.main-header {
  grid-area: header;
  height: 55px;
  @include mix.bg-black-grad;
  border-bottom: 1px solid $gold;
  width: 100%;
  @include mix.flexy($just: space-between);
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 f.em(15px);
}

.sam-logo,
.hamburger {
  height: f.em(59px);
  width: f.em(59px);
  // @include mix.debug($color: $silver-rust);
}

.burger {
  display: block;
  height: f.em(6px);
  margin: f.em(10px) 0;
  border-radius: 3px;
  @include mix.gold-bar;
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  z-index: 1;
  @include mix.radialGradient;
}

.mobile-nav-ul {
  transform: translateY(18vh);
  max-width: f.em(350px);
  // @include mix.debug($color: $gold-grad-5);
}

.mobile-nav-ul li {
  margin-top: f.em(15px);
  margin-bottom: f.em(25px);
}

.mobile-nav-ul li:hover a,
.active-page {
  @include mix.gold-bar;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-size: f.em(50px);
}

.ham-top .active-ham {
  transform-origin: top left;
  transform: rotate(91deg) scale(0.6, 1) translateX(4px);
}

.ham-mid .active-ham {
  transform: rotate(40deg) translate(-2px, 0);
}

.ham-bottom .active-ham {
  transform: rotate(317deg) translate(13px, -13px);
}

#nav-main {
  display: none;
  width: 100%;

  @include mix.mqDesk('tablet-portrait') {
    display: block;
  }
}

.desk-nav-ul {
  @include mix.flexy($just: space-evenly, $align: center);
}

.desk-nav-ul li {
  width: 20%;
}

/******************
   MAIN
******************/
main {
  grid-area: main;
  margin-top: f.em(130px);
  // @include mix.debug($color: blue);
}

#inner-home,
#inner-portfolio,
#inner-about-me {
  display: grid;
}

.col-span-2 {
  grid-column: span 2;
}

#inner-home {
  gap: f.em(20px);
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 1fr 120px 1fr;
  margin-bottom: f.em(8px);
}

.top-home {
  @include mix.flexy($just: space-between);
}

#home-bg,
#home-bottom {
  width: f.em(170px);
}

.sam-img-home {
  width: f.em(150px);
}

.full-name {
  position: relative;
  grid-column: 1/3;
  transform: translate(-9px, -72px);
  margin-bottom: f.em(30px);
}

.my-names li {
  margin: f.em(5px) 0;
}

.sam-colour,
.sam-gold {
  width: f.em(100px);
}

.atkin-colour,
.mod-colour,
.atkin-gold,
.mod-gold {
  width: f.em(120px);
}

.nam-colour,
.nam-gold {
  position: absolute;
  left: f.em(16px);
}

.role-bottom-bg {
  @include mix.flexy($just: space-between);
  margin-top: f.em(19px);
}

.creative {
  width: calc(100% - 170px);
  align-self: flex-end;
}

#home-bottom {
  transform: rotate(180deg);
  // @include mix.debug($color: rgb(24, 170, 95));
}

/*********************************************
          PORTFOLIO SECTION
**********************************************/
#portfolio {
  padding: 0;
  margin-top: f.em(55px);
}

#inner-portfolio {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  // margin-bottom: f.em(32px);
  // @include mix.debug($color: rgb(233, 51, 10));
}

.portfolio-header {
  position: relative;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 256px, 80px, 363px;
  // @include mix.debug($color: rgb(4, 184, 34));
}

#portfolio-bg {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  width: f.em(270px);
  margin-left: auto;
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(380px);
  }

  @include mix.mqDesk('tablet-landscape') {
    width: f.em(500px);
    margin-left: auto;
  }
}

.head-port {
  grid-column: 1 / span 2;
  grid-row: 2 /3;
  // transform: translateY(-182px);
  @include mix.mqDesk('tablet-portrait') {
    // transform: translateY(-300px);
  }

  @include mix.mqDesk('lg-desktop-width') {
    // transform: translateY(-400px);
  }
}

.active-proj {
  border-bottom: f.em(2px) solid $gold;
}

.head-port,
.slide-nav {
  transform: translateY(-147px);
  @include mix.mqDesk('tablet-portrait') {
    transform: translateY(f.em(-80px));
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    transform: translateY(f.em(-70px));
  }
}

.slide-nav {
  @include mix.flexy($just: center);
  grid-column: 1 / span 2;
  grid-row: 2 /3;
  margin-top: f.em(20px);
  // margin-bottom: f.em(2px);
  // transform: translateY(f.em(-80px));
  @include mix.mqDesk('tablet-portrait') {
    transform: translateY(f.em(-180px));
  }

  @include mix.mqDesk('tablet-landscape') {
    // transform: translateY(f.em(-100px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    transform: translateY(-220px);
  }
}

.slide-nav li {
  margin: 0 5px;
  padding: f.em(3px) f.em(16px);
  height: f.em(30px);
  @include mix.mqDesk('tablet-portrait') {
    padding: f.em(3px) f.em(5px);
    height: f.em(20px);
  }
}

.projects-container {
  width: 100%;
  position: relative;
  height: fit-content;
  grid-row: 3/4;
  transform: translateY(f.em(-130px));
  // @include mix.debug($color: rgb(235, 221, 28));
  @include mix.mqDesk('tablet-portrait') {
    transform: translateY(f.em(-200px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    // transform: translateY(f.em(-90px));
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    transform: translateY(f.em(-210px));
  }
}

.proj-viewport {
  width: 318px;
  overflow: hidden;
  // @include mix.debug($color: rgb(28, 235, 80));
  @include mix.mqDesk('tablet-portrait') {
    width: 725px;
  }

  @include mix.mqDesk('tablet-landscape') {
    width: 940px;
    // @include mix.debug($color: rgb(28, 235, 80));
  }

  @include mix.mqDesk('lg-desktop-width') {
    width: 1000px;
    // @include mix.debug($color: rgb(28, 235, 80));
  }
}

.project-slider {
  width: 100%;
  display: flex;
  // display: block;
  @extend %marg-cen;
  // @include mix.debug($color: rgb(235, 28, 28));
}

.project-container,
.logo-container {
  width: 100%;
  height: f.em(293px);
  margin-bottom: f.em(40px);
  border-radius: f.em(20px);
  @include mix.flexy($dir: column, $just: space-evenly);
  @include mix.bg-proj-cont-grad;
  border: solid 3px $black;
  // @include mix.debug($color: rgb(28, 114, 235));
  @include mix.mqDesk('tablet-portrait') {
    height: f.em(650px);
    margin-bottom: f.em(50px);
  }

  @include mix.mqDesk('tablet-landscape') {
    height: f.em(400px);
    margin-bottom: 0;
  }

  @include mix.mqDesk('lg-desktop-width') {
    height: f.em(500px);
    margin-bottom: 0;
    // @include mix.debug($color: rgb(28, 114, 235));
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    height: f.em(550px);
    // @include mix.debug($color: rgb(28, 114, 235));
  }
}

.project-container:hover .colour-img {
  opacity: 1;
}

.logo-container {
  @include mix.bg-proj-logo-grad;
  // @include mix.debug($color: rgb(28, 114, 235));
}

.project-img-links {
  width: f.em(310px);
  height: f.em(230px);
  @include mix.flexy($just: space-between);
  margin: 0 auto;
  // @include mix.debug($color: rgb(207, 28, 235));
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(700px);
    height: f.em(500px);
  }
  @include mix.mqDesk('tablet-landscape') {
    display: none;
  }
}

.proj-img {
  position: relative;
  width: f.em(108px);
  margin-left: f.em(90px);
  // @include mix.debug($color: pink);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(240px);
    margin-left: f.em(120px);
  }
}

.taller-proj {
  width: f.em(72px);
  margin-left: f.em(110px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(150px);
    margin-left: f.em(220px);
  }
}

.proj-4 .taller-proj {
  width: f.em(63px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(140px);
    margin-left: f.em(220px);
  }
}

.proj-7 .taller-proj {
  width: f.em(78px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(170px);
    margin-left: f.em(150px);
  }
}

.square-5 {
  width: f.em(208px);
  margin-left: f.em(30px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(450px);
    margin-left: f.em(20px);
  }
}

.square-6 {
  width: f.em(220px);
  margin-left: f.em(18px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(450px);
    margin-left: f.em(20px);
  }
}

.square-8 {
  width: f.em(207px);
  margin-left: f.em(20px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(450px);
    margin-left: f.em(20px);
  }
}

.active-slide-proj {
  margin: 0 f.em(20px);
}

.proj-8 .info-head {
  width: 93%;
  @extend %marg-cen;
}

.proj-nav {
  width: f.em(56px);
  height: f.em(150px);
  padding: f.em(2px);
  margin-right: f.em(10px);
  margin-top: f.em(5px);
  // @include mix.debug($color: rgb(183, 235, 28));
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(150px);
    height: f.em(450px);
    margin-right: f.em(30px);
    // @include mix.debug($color: rgb(183, 235, 28));
  }

  @include mix.mqDesk('tablet-landscape') {
    display: none;
  }
}

.project-info,
.logo-info {
  height: 69px;
  width: 100%;
  @include mix.bg-proj-info;
  @include mix.box-shdo($in: inset, $blur: 7px, $sphd: 0, $colour: $red);
  // @include mix.debug($color: rgb(235, 59, 28));

  @include mix.mqDesk('tablet-portrait') {
    height: 115px;
  }
}

@include mix.mqDesk('tablet-landscape') {
  .project-info {
    display: none;
  }
}

.logo-info {
  height: 125px;
  @include mix.mqDesk('tablet-portrait') {
    height: 215px;
    transform: translateY(70px);
  }
}

.made-with {
  height: 45px;
  @include mix.flexy();
  padding: 0 f.em(2px);
  // @include mix.debug($color: rgb(68, 238, 244));
  @include mix.mqDesk('tablet-portrait') {
    height: 60px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: f.em(5px);
  }
  @include mix.mqDesk('tablet-landscape') {
    width: 100%;
    margin: 0 auto;
    margin-bottom: f.em(5px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    height: 100px;
    margin-bottom: 0;
    // @include mix.debug($color: rgb(28, 114, 235));
  }
}

.created-with {
  width: 32%;
  margin-right: f.em(5px);
  align-self: center;
  @include mix.mqDesk('tablet-portrait') {
    width: 25%;
  }
}

.logo-img {
  width: 308px;
  height: 268px;
  // @include mix.debug($color: rgb(100, 68, 244));
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(500px);
    height: f.em(350px);
    margin: f.em(8px) auto;
  }
  @include mix.mqDesk('tablet-landscape') {
    width: f.em(300px);
    height: f.em(250px);
    margin: f.em(8px) auto;
  }
}

.logo-way .logo-info {
  margin-top: f.em(35px);
  height: f.em(90px);

  @include mix.mqDesk('tablet-portrait') {
    height: f.em(215px);
    margin-top: f.em(50px);
    transform: translateY(51px);
  }
}

.logo-way .logo-img {
  height: 60px;
  width: 223px;
  margin: 32px auto;
  margin-bottom: 132px;
  @include mix.mqDesk('tablet-portrait') {
    height: f.em(300px);
    width: 350px;
    margin: f.em(18px) auto 0;
    margin-bottom: 0;
  }
}

.logo-info {
  @include mix.mqDesk('tablet-landscape') {
    display: flex;
    height: f.em(150px);
    margin: f.em(18px) auto 0;
    padding: f.em(5px);
    margin-bottom: 0;
  }
}

.logo-head {
  @include mix.mqDesk('tablet-landscape') {
    width: 30%;
    margin-left: f.em(5px);
  }
}
.logo-text {
  @include mix.mqDesk('tablet-landscape') {
    width: 70%;
    margin-right: f.em(15px);
  }
}
.desktop {
  display: none;
  @include mix.mqDesk('tablet-landscape') {
    display: inline;
  }
}
/**************************
PORTFOLIO LAYOUT DESKTOP
***************************/
.proj-links-info-desktop {
  display: none;
  @include mix.mqDesk('tablet-landscape') {
    @include mix.flexy($disp: flex, $dir: row-reverse, $just: space-around);
    width: 920px;
    margin: 0 auto;
    height: 405px;
    padding: f.em(5px);
    // @include mix.debug($color: rgb(251, 243, 88));
  }
}

@include mix.mqDesk('tablet-landscape') {
  .proj-img-desk {
    position: relative;
    width: 200px;
    // @include mix.debug($color: rgb(234, 3, 246));
  }

  .proj-img-desk img {
    position: absolute;
    top: -14px;
  }

  .proj-img-desk.taller-proj {
    width: 124px;
  }

  .proj-img-desk.taller-proj-4 {
    width: 110px;
  }

  .proj-img-desk.taller-proj img,
  .proj-img-desk.taller-proj-4 img {
    top: -2px;
  }

  .proj-img-desk.square-5,
  .proj-img-desk.square-6,
  .proj-img-desk.square-8 {
    width: 350px;
  }

  .proj-img-desk.square-5 img,
  .proj-img-desk.square-6 img {
    top: 0;
  }

  .proj-img-desk.square-6 img,
  .proj-img-desk.square-8 img {
    top: 22px;
  }

  .proj-img-desk.taller-proj-7 {
    width: 133px;
  }

  .proj-img-desk.taller-proj-7 img {
    top: -1px;
  }

  .desk-proj-info {
    @include mix.bg-proj-cont-grad;
    @include mix.br-default($pix: f.em(3px), $colu: $black);
    height: 350px;
    width: 480px;
    align-self: center;
    @include mix.flexy($dir: column, $just: center);
  }

  .project-info-desk {
    @include mix.bg-proj-info;
    width: 400px;
    margin: 0 auto f.em(20px);
    @include mix.br-default($pix: 3px, $styl: solid, $colu: $black);
  }

  .created-with.proj-7 {
    width: 20%;
    margin-right: 0;
  }

  .proj-divider {
    display: block;
    height: f.em(5px);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    @include mix.gold-bar;
  }

  .git-browser-desk {
    @include mix.flexy($just: space-between);
    width: 80%;
    margin: 0 auto;
  }
}

@include mix.mqDesk('xx-lg-desktop-width') {
  .proj-img-desk {
    width: 255px;
    // @include mix.debug($color: rgb(234, 3, 246));
  }

  .proj-img-desk img {
    top: -54px;
  }

  .desk-proj-info {
    height: 450px;
    width: 580px;
    border-radius: f.em(10px);
  }

  .project-info-desk {
    width: 530px;
    height: 198px;
    border-radius: f.em(8px);
  }
}

/********************
PORTFOLIO NAV CONTROLS
*********************/
.proj-slider-nav {
  height: 30px;
  width: 100%;
  padding: 0 f.em(2px);
  overflow: hidden;
  @include mix.flexy($just: space-between);
  background: linear-gradient(69deg, $grey, $black, $black, $grey);
  transform: translateY(15px);
  // @include mix.debug($color: rgb(208, 222, 11));
  @include mix.mqDesk('tablet-portrait') {
    height: 60px;
    transform: translateY(-25px);
    // @include mix.debug($color: rgb(208, 222, 11));
  }

  @include mix.mqDesk('tablet-landscape') {
    transform: translateY(15px);
    // @include mix.debug($color: rgb(208, 222, 11));
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    transform: translateY(6px);
    // @include mix.debug($color: rgb(208, 222, 11));
  }
}

.arrow-nav {
  @include mix.flexy($just: space-around, $align: center);
  width: 150px;
  margin-right: f.em(5px);
  // @include mix.debug($color: rgb(11, 131, 222));
  @include mix.mqDesk('tablet-portrait') {
    margin-right: f.em(40px);
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    width: 220px;
  }
}

#arrow-right,
#arrow-left {
  width: 40px;
  height: 20px;
  @include mix.mqDesk('tablet-portrait') {
    width: 60px;
    height: 30px;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    width: 70px;
    height: 40px;
  }
}

#arrow-left {
  transform: rotate(180deg);
}

#divider {
  height: 30px;
  width: 5px;
  @include mix.mqDesk('tablet-portrait') {
    height: 40px;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    width: 8px;
    height: 50px;
  }
}

.ul-navs {
  width: 120px;
  @include mix.flexy($dir: column);
  margin-left: f.em(5px);
  // @include mix.debug($color: rgb(222, 11, 36));
  @include mix.mqDesk('tablet-portrait') {
    margin-left: f.em(35px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    margin-left: f.em(105px);
  }
}

.ul-navs,
.arrow-nav {
  position: relative;
  @include mix.br-default($colu: rgb($gold, 0.5));
  border-radius: $br-rad-lg;
}

@include mix.mqDesk('tablet-portrait') {
  .ul-navs {
    width: 185px;
  }
}

.static,
.interactive,
.logos {
  margin: f.em(5px) 0;
  height: f.em(30px);
  @include mix.flexy();
  // @include mix.debug($color: rgb(180, 222, 11));
  @include mix.mqDesk('tablet-portrait') {
    margin: f.em(10px) f.em(5px);
    margin-top: f.em(5px);
  }
}

.current-ul-port {
  margin-top: 0;
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(5px);
  }
}

.interactive {
  @include mix.mqDesk('xx-lg-desktop-width') {
    margin-top: f.em(20px);
  }
}

.balls {
  position: relative;
  width: 20px;
  height: 20px;
  padding: f.em(2px);
  margin: f.em(5px) f.em(6px);
  border-radius: 100%;
  @include mix.mqDesk('tablet-portrait') {
    width: 30px;
    height: 30px;
    margin: f.em(10px) f.em(6px);
  }
}

.sta {
  background: radial-gradient($rad-grad-1, $rad-grad-2, $black);
}

.inter {
  background: radial-gradient($rad-grad-orange-1, $rad-grad-orange-2, $black);
}

.log {
  background: radial-gradient($rad-grad-amber-1, $rad-grad-amber-2, $black);
}

/*Balls active*/
.active-indiBall {
  @include mix.gold-bar;
}

/****************************
       ABOUT ME SECTION
****************************/

#inner-about-me {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

#about-bg {
  width: f.em(96px);
  height: f.em(100px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(270px);
    height: f.em(320px);
  }
  @include mix.mqDesk('tablet-landscape') {
    width: f.em(200px);
    height: f.em(280px);
  }

  @include mix.mqDesk('lg-desktop-width') {
    width: f.em(300px);
    height: f.em(380px);
  }
}

.about-me {
  transform: translate(15px, 14px);
}

#inner-about-me p {
  grid-column: 1 / span 2;
}

.me-about-img {
  grid-column: 2/3;
  @include mix.flexy($just: flex-end);
}

.dev-list,
.design-list,
.skill-head-underline,
.dev-web {
  grid-column: 1 / span 2;
}

.dev-list li,
.design-list li {
  width: 45px;
  height: 45px;

  @include mix.mqDesk('tablet-portrait') {
    width: 70px;
    height: 70px;
  }
  @include mix.mqDesk('tablet-landscape') {
    width: 90px;
    height: 90px;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    width: 100px;
    height: 100px;
    margin: 0 f.em(25px);
  }
}

.skill-head-underline,
.dev-list,
.design-list {
  @include mix.mqDesk('tablet-portrait') {
    grid-column: 2;
  }
}

.dev-list,
.design-list {
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(30px);
  }
}

.dev-web-underline,
.design-web-underline {
  @include mix.mqDesk('tablet-portrait') {
    grid-column: 1;
  }
}

.skill-head-underline {
  @include mix.mqDesk('tablet-portrait') {
    grid-row: 5 / 6;
  }
}

.dev-list,
.dev-web-underline {
  @include mix.mqDesk('tablet-portrait') {
    grid-row: 6 / 7;
  }
}

.design-list,
.design-web-underline {
  @include mix.mqDesk('tablet-portrait') {
    grid-row: 7 / 8;
  }
}

.skill-under {
  height: f.em(2px);
  width: 75px;
  border-radius: 5px;
  margin-right: f.em(20px);
  @include mix.gold-bar();
  transform: translateY(-5px);

  @include mix.mqDesk('tablet-portrait') {
    height: f.em(3px);
    width: 200px;
    margin-right: f.em(5px);
    transform: translateY(-23px);
  }

  @include mix.mqDesk('tablet-landscape') {
    height: f.em(3px);
    width: 230px;
    transform: translateY(-25px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    height: f.em(3px);
    width: 340px;
    // transform: translateY(-25px);
  }
}

.dev-web-underline {
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(15px);
  }
}

.design-web-underline {
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(-5px);
  }
}

.web-dev-underline,
.web-design-underline {
  display: none;
  @include mix.mqDesk('tablet-portrait') {
    display: block;
    width: f.em(250px);
    height: f.em(2px);
    margin-left: f.em(3px);
    @include mix.gold-bar();
    transform: translateY(-13px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    width: f.em(435px);
    height: f.em(3px);
    transform: translateY(-37px);
  }
}

.dev-list,
.design-list {
  @include mix.flexy($just: space-evenly, $align: center);
  height: f.em(46px);
  padding: f.em(6px) 0;
  border-radius: f.em(32px);
  @include mix.ul-bg($col-1: $ul-rad-grad-1, $col-2: $black);
  @include mix.mqDesk('tablet-portrait') {
    padding: f.em(40px) 0;
    border-radius: f.em(42px);
    width: 450px;
    margin-left: f.em(5px);
  }
  @include mix.mqDesk('tablet-landscape') {
    padding: f.em(40px) 0;
    border-radius: f.em(42px);
    width: 700px;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    padding: f.em(60px) 0;
    border-radius: f.em(92px);
    margin-top: f.em(50px);
    width: 1250px;
  }
}

@include mix.mqDesk('tablet-landscape') {
  .dev-list {
    @include mix.ul-bg(
      $dir-pix: 275px at center right,
      $col-1: $ul-rad-grad-1,
      $col-2: $black
    );

    @include mix.mqDesk('tablet-portrait') {
      @include mix.ul-bg($col-1: $ul-rad-grad-1, $col-2: $black);
    }
  }
}
.design-list {
  @include mix.ul-bg(
    $dir-pix: 275px at center right,
    $col-1: $ul-rad-grad-1,
    $col-2: $black
  );
}

@include mix.mqDesk('lg-desktop-width') {
  .dev-web-underline,
  .design-web-underlinet {
    grid-column: 1;
  }
}

/******************************
    CONTACT ME            
*******************************/
#contact-me {
  // margin-top: f.em(15px);
  @include mix.mqDesk('tablet-landscape') {
    margin: 0;
  }
}

#inner-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mix.mqDesk('tablet-portrait') {
    padding-bottom: f.em(50px);
  }
}

.contact-h2,
.need-website,
#contact-me-form {
  grid-column: 1 / span 2;
}
#contact-bg {
  grid-column: 2;
  margin-left: auto;
}
#contact-bg,
.contact-h2,
.need-website {
  grid-row: 1 / 2;
}

.contact-h2 {
  margin-top: f.em(30px);
  margin-bottom: 0;
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(5px);
  }

  @include mix.mqDesk('tablet-landscape') {
    margin-top: f.em(50px);
  }
}

.need-website {
  margin-top: f.em(160px);
  margin-bottom: 0;
  @include mix.mqDesk('tablet-portrait') {
    margin-top: f.em(140px);
  }
  @include mix.mqDesk('tablet-landscape') {
    margin-top: f.em(250px);
  }
}

.need-website .form {
  display: none;
  @include mix.mqDesk('tablet-landscape') {
    display: block;
    margin-top: f.em(50px);
  }
}

#contact-me-form {
  width: f.em(310px);
  // transform: translateY(f.em(-100px));
  // @include mix.debug($color: rgb(98, 46, 220));
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(500px);
    // @include mix.debug($color: rgb(98, 46, 220));
  }
  @include mix.mqDesk('tablet-landscape') {
    transform: translateY(-115px);
    // @include mix.debug($color: rgb(98, 46, 220));
  }
}

.form-p {
  @include mix.flexy($just: space-between);
  margin: f.em(40px) auto;
  width: 90%;
  height: f.em(50px);
  @include mix.mqDesk('tablet-portrait') {
    width: 100%;
    margin: f.em(50px) auto;
    // @include mix.debug($color: rgb(111, 247, 15));
  }

  @include mix.mqDesk('tablet-landscape') {
    width: 100%;
    margin: f.em(140px) auto;
    // @include mix.debug($color: rgb(111, 247, 15));
  }
}

label {
  border-bottom: f.em(2px) solid $gold;
  height: f.em(25px);
  @include mix.mqDesk('tablet-portrait') {
    // height: fit-content;
    padding-bottom: f.em(30px);
  }
}

input,
textarea {
  margin-left: (f.em(30px));
  background: $black;
  outline: none;
  border: none;
  width: f.em(200px);
  border-radius: f.em(6px);
  // @include mix.debug($color: rgb(130, 184, 4));
  @include mix.mqDesk('tablet-portrait') {
    margin-left: f.em(10px);
    // margin-bottom: f.em(5px);
  }
}

@include mix.mqDesk('tablet-portrait') {
  input {
    transform: translate(18px, -10px);
  }
}

textarea {
  margin-left: (f.em(15px));
  transform: translateY(-2px);
  height: f.em(21px);
  @include mix.mqDesk('tablet-portrait') {
    transform: translate(87px, -67px);
  }
}

input[type='text']:focus,
textarea:focus {
  background: $black;
  color: $gold;
}

textarea:focus {
  height: f.em(60px);
  transform: translateY(-38px);
  // @include mix.debug($color: rgb(184, 181, 4));

  @include mix.mqDesk('tablet-portrait') {
    height: f.em(30px);
    transform: translate(87px, -104px);
  }
}

textarea::-webkit-scrollbar {
  width: f.em(10px);
}

textarea::-webkit-scrollbar-track {
  @include mix.box-shdo($in: inset, $blur: f.em(3px), $colour: $gold);
  border-radius: f.em(8px);
}

textarea::-webkit-scrollbar-thumb {
  @include mix.box-shdo($in: inset, $blur: f.em(3px), $colour: $red);
  border-radius: f.em(5px);
}

textarea::-webkit-scrollbar-corner,
textarea::-webkit-resizer {
  background: $black;
}

#submit {
  background: $black;
  width: f.em(80px);
  margin: 0 auto;
  @include mix.br-default($gold);
  border-radius: $br-rad;
  // transform: translate(-2px, -18px);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(90px);
    // transform: translate(-14px, 50px);
  }

  @include mix.mqDesk('tablet-landscape') {
    width: f.em(90px);
    // transform: translate(-14px, -250px);
  }
}

/******************************
            FOOTER
*******************************/

footer {
  grid-area: footer;
  background: $black;

  bottom: 0;
  width: 100%;
  z-index: 5;

  // @include mix.debug($color: rgb(184, 4, 172));
}

.contact-links {
  margin-top: 0;
  @include mix.flexy($just: center);
}

.social-links {
  height: 30px;
  width: 30px;
  margin: 0 f.em(10px);
  @include mix.mqDesk('tablet-portrait') {
    width: 50px;
    height: 50px;
    margin: 0 f.em(40px);
  }
}

small {
  margin: f.em(3px) auto 0;
  display: block;
  @include mix.mqDesk('tablet-portrait') {
    margin: f.em(10px) auto 0;
  }
}
