@use '../utilities/functions' as f;
@use '../utilities/mixins' as mix;

img {
  display: block;
  width: 100%;
}

.logo {
  height: 59px;
}

.desk-sam-logo {
  height: 50px;

  @include mix.mqDesk('tablet-portrait') {
    padding-bottom: f.em(4px);
  }

  @include mix.mqDesk('lg-desktop-width') {
    height: 60px;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    height: 70px;
    padding-bottom: f.em(4px);
  }

  @include mix.mqDesk('xxx-lg-desktop-width') {
    height: 80px;
    padding-bottom: f.em(6px);
  }
}

/******************************
    PORTFOLIO IMAGES
******************************/
.colour-img {
  position: absolute;
  top: 0;
  opacity: 0;
}

.aside-bg {
  display: block;
  width: f.em(56px);
  height: f.em(150px);
  transform: scale(1, 1.3) translate(-3px, 11px);

  //MEDIA QUERIES
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(200px);
    transform: scale(2, 2.2) translate(-13px, 39px);
    opacity: 0.5;
  }
}

@include mix.mqDesk('tablet-portrait') {
  .square-aside .aside-bg {
    width: f.em(200px);
    transform: scale(1.9, 1.8) translate(-13px, 32px);
    opacity: 0.5;
  }
}

.nav-deco {
  width: 30px;
  transform: translate(8px, -5px);
}

.chain-link {
  width: 20px;
  transform: translate(15px, -160px);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(40px);
    transform: translate(52px, -174px);
  }
  @include mix.mqDesk('tablet-landscape') {
    margin: f.em(10px) auto;
    transform: none;
  }
}

.browser,
.git,
.square-aside .browser,
.square-aside .git {
  margin-top: f.em(15px);
  transform: translate(10px, -159px);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(60px);
    transform: translate(42px, -149px);
  }
  @include mix.mqDesk('tablet-landscape') {
    margin: 0;
    transform: translateY(1px);
  }
}

.square-aside .browser,
.square-aside .git {
  margin-top: f.em(15px);
  transform: translate(10px, -159px);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(50px);
    transform: translate(48px, -164px);
  }
}

.git {
  margin-top: f.em(10px);
  @include mix.mqDesk('tablet-portrait') {
  }

  @include mix.mqDesk('tablet-landscape') {
    margin-top: 0;
    margin-bottom: f.em(8px);
  }
}

.html-made,
.css-made,
.sass-made,
.js-made,
.photoshop-made {
  width: f.em(35px);
  margin: 0 f.em(5px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(80px);
    margin-top: f.em(8px);
  }
}

@include mix.mqDesk('tablet-portrait') {
  .proj-3 .htm-made,
  .proj-3 .css-made,
  .proj-4 .html-made,
  .proj-4 .sass-made {
    width: f.em(140px);
  }
}

.proj-8 .html-made,
.proj-8 .css-made,
.proj-8 .js-made {
  width: f.em(26px);
  margin-bottom: f.em(10px);
  @include mix.mqDesk('tablet-portrait') {
    width: f.em(65px);
    margin-top: f.em(2px);
  }
}

.logo-S74 .logo-img img {
  margin-top: f.em(68px);
}

.logo-way .logo-img img {
  margin-bottom: f.em(12px);
}

/*** about me **/
.me-about-img img {
  width: f.em(124px);
  height: f.em(103px);
  transform: translateX(-12px);

  @include mix.mqDesk('tablet-portrait') {
    width: f.em(284px);
    height: f.em(200px);
    transform: translate(-49px, 47px);
  }

  @include mix.mqDesk('tablet-landscape') {
    width: f.em(294px);
    height: f.em(224px);
    transform: translate(-11px, 24px);
  }

  @include mix.mqDesk('lg-desktop-width') {
    width: f.em(320px);
    height: f.em(248px);
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    width: f.em(480px);
    height: f.em(388px);
  }
}
