@use '../utilities/variables' as *;
@use '../utilities/mixins' as mix;
@use '../utilities/functions' as f;

.creative-text,
.webDev-text,
.head-port,
.slide-nav,
.live-text,
.logo-head,
.about-me,
.dance-web,
.skill-head,
.web-dev,
.contact-h2,
label,
#submit,
small {
  color: $gold;
}

.info-head,
.created-with,
.logo-text,
.hi,
#about-me p,
.need-website,
input,
textarea,
.balls:hover::before {
  color: $silver-rust;
}

.mobile-nav-ul li,
.desk-nav-ul li,
.head-port,
.logo-head,
.contact-h2,
.need-website,
small {
  text-align: center;
}

.mobile-nav-ul a,
.desk-nav-ul a,
.creative-text,
.webDev-text,
.head-port,
.slide-nav,
.logo-head,
.about-me,
.skill-head,
.contact-h2,
label {
  font-family: $font-family--primary;
  @include mix.text-shdo($hr: 0, $vrt: 1px, $blur: 2px, $col: rgba($red, 0.5));
}

.mobile-nav-ul a,
.desk-nav-ul a {
  color: $gold-grad-1;
}

small,
.dance-web,
.web-dev,
.need-website,
#submit {
  font-family: $font-family--secondary;
}

.info-head,
.logo-text,
#about-me p,
input,
textarea,
.ball-tool-tip {
  font-family: $font-family--parag;
}

.mobile-nav-ul a,
.desk-nav-ul a {
  text-decoration: none;
}

.mobile-nav-ul {
  @include mix.text($size: f.em(40px));
}

.desk-nav-ul a {
  @include mix.text($size: f.em(30px), $l-height: f.em(30px));

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(40px), $l-height: f.em(25px));
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(50px), $l-height: f.em(24px));
  }

  @include mix.mqDesk('xxx-lg-desktop-width') {
    @include mix.text($size: f.em(70px), $l-height: f.em(24px));
  }
}

.web-dev {
  @include mix.text-shdo($hr: 0, $vrt: f.em(0.1px), $col: $silver-rust);
}

.creative-text,
.webDev-text {
  @include mix.text($size: f.em(23px), $l-height: f.em(17px));
  margin: 0;
  padding-left: f.em(6px);
  width: 50%;

  //MEDIA QUERY
  @include mix.mqMobile(
    $break-w: 'xxx-s-mobile-width',
    $break-h: 'x-short-mobile-height'
  ) {
    @include mix.text($size: f.em(25px), $l-height: f.em(25px));
  }

  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(65px), $l-height: f.em(20px));
    @include mix.text-shdo(
      $hr: 0,
      $vrt: 2px,
      $blur: 3px,
      $col: rgba($red, 0.5)
    );
  }

  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(30px), $l-height: f.em(30px));
    margin-top: f.em(-60px);
  }

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(50px), $l-height: f.em(30px));
  }
}

.webDev-text {
  @include mix.text($size: f.em(25px), $l-height: f.em(15px));
  margin-top: f.em(4px);

  //MEDIA QUERY
  @include mix.mqMobile(
    $break-w: 'xxx-s-mobile-width',
    $break-h: 'x-short-mobile-height'
  ) {
    margin-top: 0;
  }

  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(70px), $l-height: f.em(15px));
  }

  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(35px), $l-height: f.em(10px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(60px), $l-height: f.em(10px));
  }
}

/*******************
     PORTFOLIO
*******************/

.head-port {
  margin: 0;
  @include mix.text($size: f.em(25px));

  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(50px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(55px));
    @include mix.text-shdo(
      $hr: 0,
      $vrt: 3px,
      $blur: 6px,
      $col: rgba($red, 0.5)
    );
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(65px));
  }
}

@include mix.mqDesk('tablet-portrait') {
  .static-li,
  .interactive-li,
  .logo-li {
    @include mix.text($size: f.em(40px), $l-height: f.em(10px));
  }
}

.slide-nav,
.live-text,
.created-with {
  font-style: italic;
}

.live-text {
  font-size: f.em(10px);
  font-weight: bold;
  transform: translate(0, -155px);

  //MEDIA QUERIES
  @include mix.mqMobile(
    $break-w: 'xxx-s-mobile-width',
    $break-h: 'x-short-mobile-height'
  ) {
    transform: translate(1px, -155px);
  }

  @include mix.mqMobile(
    $break-w: 's-mobile-width',
    $break-h: 'ex-tall-mobile-height'
  ) {
    transform: translate(-2px, -245px);
    font-size: f.em(11px);
  }

  @include mix.mqDesk('tablet-portrait') {
    transform: translate(11px, -162px);
    font-size: f.em(25px);
  }

  @include mix.mqDesk('tablet-landscape') {
    margin: 0;
    transform: none;
    text-align: center;
  }
}

@include mix.mqDesk('tablet-portrait') {
  .static-li,
  .interactive-li,
  .logo-li {
    @include mix.text($size: f.em(40px), $l-height: f.em(10px));
  }
}

@include mix.mqDesk('lg-desktop-width') {
  .static-li,
  .interactive-li,
  .logo-li {
    @include mix.text($size: f.em(50px), $l-height: f.em(15px));
  }
}

.info-head,
.logo-text,
#about-me p {
  @include mix.text($size: f.em(11px), $l-height: f.em(22px));
  text-align: center;

  //MEDIA QUERIES
  @include mix.mqMobile(
    $break-w: 'xxx-s-mobile-width',
    $break-h: 'x-short-mobile-height'
  ) {
    @include mix.text($size: f.em(14px), $l-height: f.em(23px));
    margin-bottom: f.em(5px);
  }

  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(24px), $l-height: f.em(28px));
    margin-bottom: f.em(5px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(34px), $l-height: f.em(38px));
  }
}

@include mix.mqDesk('xx-lg-desktop-width') {
  .info-head.p3,
  .info-head.p5 {
    @include mix.text($size: f.em(30px), $l-height: f.em(38px));
  }
}

.proj-7 .info-head,
.proj-8 .info-head {
  font-size: f.em(12px);
  @include mix.mqDesk('tablet-portrait') {
    font-size: f.em(25px);
  }

  @include mix.mqDesk('tablet-landscape') {
    font-size: f.em(20px);
  }
}

@include mix.mqDesk('tablet-portrait') {
  .proj-8 .info-head {
    font-size: (20px);
  }

  @include mix.mqDesk('tablet-landscape') {
    .proj-8 .info-head {
      font-size: (18px);
    }
  }
}

@include mix.mqDesk('tablet-portrait') {
  .rtb-logo,
  .s74-logo,
  .way-logo {
    @include mix.text($size: f.em(34px), $l-height: f.em(40px));
  }

  .rtb-logo,
  .s74-logo {
    @include mix.text($size: f.em(34px), $l-height: f.em(25px));
  }
}

.created-with {
  @include mix.text($size: f.em(14px), $l-height: f.em(24px));
  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(22px), $l-height: f.em(20px));
    margin-left: f.em(5px);
  }
  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(16px), $l-height: f.em(20px));
    margin-left: f.em(5px);
  }
  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(20px), $l-height: f.em(20px));
    margin-left: f.em(5px);
  }
}

@include mix.mqDesk('tablet-landscape') {
  .created-with.proj-7 {
    @include mix.text($size: f.em(12px), $l-height: f.em(18px));
    margin-left: f.em(5px);
  }
}

.way-logo {
  margin: f.em(2px) 0 f.em(10px) 0;
}

.balls:hover::before {
  font-size: f.em(11px);
}

/*******************
     ABOUT ME
*******************/

#about-me p {
  width: 99%;
  margin: 0 auto;
}

.hi,
.about-me,
.skill-head {
  text-align: right;
}

.skill-head {
  @include mix.text($size: f.em(16px), $l-height: f.em(32px));
}

.about-me {
  @include mix.text($size: f.em(20px), $l-height: f.em(20px));
  width: f.em(70px);
  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(20px), $l-height: f.em(20px));
    width: f.em(80px);
    transform: translate(29px, 67px);
  }
  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(40px), $l-height: f.em(20px));
    transform: translate(56px, 67px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(75px), $l-height: f.em(30px));
    transform: translate(98px, 59px);
  }
}

@include mix.mqDesk('tablet-portrait') {
  #about-me p {
    @include mix.text($size: f.em(25px), $l-height: f.em(20px));
  }
}

@include mix.mqDesk('tablet-landscape') {
  #about-me p {
    @include mix.text($size: f.em(25px), $l-height: f.em(20px));
  }
}

@include mix.mqDesk('lg-desktop-width') {
  #about-me p {
    @include mix.text($size: f.em(30px), $l-height: f.em(18px));
  }
}

@include mix.mqDesk('lg-desktop-width') {
  #about-me .hi {
    transform: translateY(-145px);
    @include mix.text($size: f.em(40px), $l-height: f.em(30px));
  }
}

@include mix.mqDesk('xx-lg-desktop-width') {
  #about-me .hi {
    margin-left: f.em(50px);
    @include mix.text($size: f.em(60px), $l-height: f.em(30px));
  }
}

@include mix.mqDesk('tablet-portrait') {
  #about-me .hi,
  #about-me p {
    transform: translateY(-90px);
  }
}

@include mix.mqDesk('lg-desktop-width') {
  #about-me .hi,
  #about-me p {
    transform: translateY(-205px);
  }
}

@include mix.mqDesk('xx-lg-desktop-width') {
  #about-me .hi,
  #about-me p {
    transform: translateY(-16px);
  }
}

.skill-head {
  margin: 0 f.em(25px) f.em(-10px) 0;
  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(40px), $l-height: f.em(30px));
    margin: 0 f.em(5px) 0 0;
  }

  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(40px), $l-height: f.em(30px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(50px), $l-height: f.em(30px));
    margin: 0 f.em(10px) 0 0;
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(65px), $l-height: f.em(30px));
    margin: 0 f.em(5px) 0 0;
  }
}

.web-dev {
  @include mix.text($size: f.em(14px), $l-height: f.em(22px));
  text-align: center;
  margin: 0 auto f.em(25px);
  @include mix.mqDesk('tablet-portrait') {
    text-align: left;
    margin: f.em(10px) 0 0 f.em(20px);
    @include mix.text($size: f.em(22px), $l-height: f.em(40px));
  }
  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(24px), $l-height: f.em(40px));
  }

  @include mix.mqDesk('lg-desktop-width') {
    @include mix.text($size: f.em(34px), $l-height: f.em(40px));
    margin-left: f.em(5px);
  }

  @include mix.mqDesk('xx-lg-desktop-width') {
    @include mix.text($size: f.em(44px), $l-height: f.em(50px));
    margin-left: f.em(5px);
  }
}

.design-dev {
  margin-top: f.em(25px);
}

/*******************
    CONTACT ME
*******************/
.contact-h2 {
  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(60px), $l-height: f.em(50px));
  }
  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(50px), $l-height: f.em(50px));
  }
}

.need-website {
  @include mix.text($size: f.em(11px), $l-height: f.em(24px));

  @include mix.mqDesk('tablet-portrait') {
    @include mix.text($size: f.em(20px), $l-height: f.em(24px));
  }

  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(22px), $l-height: f.em(20px));
  }
}

.form {
  @include mix.mqDesk('tablet-landscape') {
    @include mix.text($size: f.em(26px), $l-height: f.em(20px));
  }
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  font-style: italic;
}

textarea::placeholder,
textarea::-moz-placeholder,
textarea::-webkit-placeholder {
  font-style: italic;
}

//MEDIA QUERIS FORM
@include mix.mqDesk('tablet-portrait') {
  label {
    @include mix.text($size: f.em(30px), $l-height: f.em(40px));
  }

  #submit {
    font-size: f.em(30px);
  }
}

/*******************
    FOOTER
*******************/
@include mix.mqDesk('tablet-portrait') {
  small {
    font-size: f.em(20px);
  }
}
